html
{
	text-align: center;
	background-image: url("images/background.jpg");
	background-repeat: no-repeat;
	background-size: cover;	
}

header
{
	border-style: solid;
	background-color: lightblue;
}

.question
{
	font-size: 60px;
	margin-bottom: 30px;
	padding-bottom: 20px 20px;
	border-style: solid;
}

.questionzone
{
	padding: 20px 20px;
}

.extrabuttons
{
	padding: 10px;
	margin: auto;
	width: 10%;	
}

.scoredisplay
{
	font-size: 20px;
}

.messagezone
{
	width: 400px;
	height: 200px;
	border-style: solid;
	border-color: black;
	margin: auto;
	background-color: lightblue;
}

.submit
{
	color: green;
}

.skip
{
	color: blue;
}

.reset
{
	color: red;
}